.ah_top_account{
    position: relative;
    height: 196px;
    background: #2b5994;
    box-shadow: 0 -2px 4px -2px #404040 inset;
    z-index: 2;
}
.ah_top_account .ah_user-info {
    position: relative;
    height: 100%;
    display: inline-block;
}
.ah_top_account .ah_inner-user-avatar{
    position: relative;
    display: inline-block;
    width: 160px;
    height: 160px;
    border-radius: 250px;
    overflow: hidden;
    box-shadow: 0 0 5px 4px #20649e;
    margin-top: 16px;
    margin-left: 30px;
}
.ah_top_account .ah_inner-user-info{
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    margin-top: 28px;
    margin-left: 20px;
}
.ah_top_account .ah_avatar{
    width: 100%;
}
.ah_top_account .ah_name{
    font-size: 45px;
    margin: 0;
}
.ah_top_account .ah_city{
    font-size: 25px;
    margin: 0;
}
.ah_top_account .ah_private-my-menu,
.ah_top_account .ah_public-my-menu{
    position: relative;
    height: 99%;
    display: inline-block;
    background-color: #20649E;
    padding: 0;
}
.ah_top_account .ah_private-my-menu ul,
.ah_top_account .ah_public-my-menu ul{
    margin: 0;
    list-style-type: none;
    height: 100%;
}
.ah_top_account .ah_private-my-menu li,
.ah_top_account .ah_public-my-menu li{

}
.ah_top_account .ah_private-my-menu a,
.ah_top_account .ah_public-my-menu a{
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 7px 15px;
}
.ah_top_account .ah_private-my-menu a:hover,
.ah_top_account .ah_public-my-menu a:hover{
    background-color: #194062;
}
.ah_bottom-account{

}





