@import "tree.css";
@import "gallery.css";

.ah_dashboard-inner{
    height: 100%;
}

.ah_top-dashboard {
    box-shadow: 0 -2px 4px -2px #232323 inset;
    z-index: 2;
    position: relative;
    overflow: hidden;
}
.ah_item_switcher-back-gallery{
    display: none;
}

.ah_top-dashboard h2 {
    margin-top: 15%;
    margin-left: -400px;
    position: absolute;
    color: #ffffff;
    font-size: 100px;
    font-family: Oswald;
    text-decoration: underline;
    display: inline-block;
}

.ah_top-dashboard p {
    margin-top: 11%;
    position: absolute;
    color: #ffffff;
    font-size: 0;
    font-family: Oswald;
    display: inline-block;
    right: 0;
    margin-right: 422px;
    width: 360px;
}

.ah_top-dashboard .ah_dashboard-action-block{

}

.ah_dashboard-action-block{
    background-color: rgba(35, 35, 35, 0.25);
    z-index: 3;
    position: relative;
    padding-top: 50px;
}

.ah_dashboard-action-block .ah_search{
    display: none;
}
.ah_dashboard-action-block .ah_load-pic{
    display: none;
}

.ah_dashboard-action-block .ah_search b{
    font-size: 33px;
    color: #ffffff;
    text-align: center;
    display: block;
}

.ah_dashboard-action-block .ah_search input{
    height: 50px;
    font-size: 25px;
    padding-left: 15px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 0 6px 0px #20649E inset;
    width: 70%;
    margin: 0 auto;
    margin-top: 15px;
}

.ah_dashboard-action-block .ah_load-pic h4{
    font-size: 33px;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
}

.ah_dashboard-action-block .ah_load-pic input{
    background-color: #20649E;
    color: #ffffff;
    padding: 14px 30px;
    font-size: 30px;
    border-radius: 5px;
    width: 40%;
    margin: 0 auto;
    display: block;
}

.ah_item_switcher-back-gallery.first{
    display:block;
}

.ah_item_switcher-back-gallery.first h2{
    font-size: 77px;
    margin-top: 5%;
    margin-left: 22%;
    text-shadow: 0 0 2px #000000;
}

.ah_item_switcher-back-gallery.second h2 {
    font-size: 77px;
    margin-top: 17%;
    margin-left: 12%;
    transform: rotate(2deg);
    text-shadow: 0 0 2px #000000;
}

.ah_item_switcher-back-gallery.third h2 {
    font-size: 89px;
    margin-left: 31%;
    margin-top: 8%;
    transform: rotate(-2deg);
    text-shadow: 0 0 2px #000000;
}

.ah_item_switcher-back-gallery.fourth h2 {
    font-size: 71px;
    margin-left: 9%;
    margin-top: 35%;
    transform: rotate(2deg);
    text-shadow: 0px 0px 15px #000;
}

.ah_item_switcher-back-gallery.fifth h2 {
    font-size: 70px;
    margin-left: 13%;
    transform: rotate(3deg);
    text-shadow: 0 0 2px #000000;
}


.ah_top-dashboard img{
    position: absolute;
    width:100%;
    height: 100%;
}

.ah_row-dashboard{
    text-align: center;
    border-bottom: 1px solid #2b5994;
}

.ah_row-dashboard .ah_button{
    margin-top: 15px;
    margin-bottom: 20px;
}

.ah_row h3{
    font-size: 50px;
    font-family: Oswald;
    text-align: center;
    color: #2b5994;
}

.ah_main-dashboard {
    padding-bottom: 40px;
}

.ah_section-dashboard {
    height: 350px;
}

.ah_inner-feed-dashboard.ah_section-dashboard{
    height: auto;
}

.ah_columns-side{
    border-bottom:1px solid #284467;
}

.ah_inner-section-dashboard{
    position: relative;
}

.ah_columns-side .ah_inner-section-dashboard {
    overflow-y: scroll;
    height: 92%;
}

.ah_section-dashboard h3 {
    background-color: #20649e;
    margin: 0;
    color: #ffffff;
    font-family: Oswald;
    font-size: 19px;
    text-align: center;
    padding: 1px 0px 2px;
}

.ah_columns {
    display: inline-block;
    vertical-align: top;
    width: 300px;
}

.ah_news-shortlist, .ah_events-shortlist, .ah_people-shortlist, .ah_lots-shortlist, .ah_pictures-shortlist{
    position: relative;
    z-index: 1;
}

/*articles*/
.ah_article-item-short {
    width: 370px;
    height: 140px;
    border: 1px solid #2b5994;
    margin: 5px;
    position: relative;
}

.ah_article-item-short img {
    float: left;
    width: 100%;
    height: 100%;
    margin-right: 10px;
}

.ah_article-item-short h5 {
    height: 55px;
    text-align: left;
    margin-left: 10px;
    font-size: 15px;
    padding-right: 5px;
}
.ah_article-item-short p {
    font-size: 12px;
    position: absolute;
    right: 0;
    margin: 6px 6px;
    color: #9a9a9a;
}

/*pictures*/

.ah_pictures-shortlist,
.ah_people-shortlist,
.ah_news-shortlist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

.ah_picture-item {
    width: 250px;
    height: 250px;
    position: relative;
    z-index:2;
    margin: 5px;
    border: 2px solid #2b5994;
}

.ah_picture-item .ah_img-picture-item{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.ah_img-picture-item small {
    font-size: 12px;
    color: #ffffff;
    background-color: rgba(76, 76, 76, 0.5);
    padding: 2px 13px;
    font-weight: 700;
    cursor: pointer;
}

.ah_wrap-img-people, .ah_wrap-img-article{
    height: 100%;
    padding: 0;
}

.ah_people-item {
    width: 370px;
    height: 140px;
    border: 1px solid #2b5994;
    margin: 5px;
    position: relative;
}

.ah_img-people-item {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    margin: 0 auto;
    background-color: #232323;
    background-position: 50% 0;
}

.ah_people-item p {
    text-align: left;
    margin: 0;
}

.ah_people-item .ah_name{
    font-size: 25px;
    color: #717171;
    margin: 0;
    margin-left: 10px;
}

.ah_people-item .ah_city{
    font-size: 12px;
    margin: 0;
    color: #717171;
    margin-left: 10px;
}

.ah_people-item .ah_type{
    font-size: 15px;
    color: #717171;
    margin: 0;
    margin-left: 10px;
}

.ah_people-item .ah_actions, .ah_article-item-short .ah_actions {
    background-color: #20649e;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 39px;
    bottom: 0;
}

.ah_article-item-short .ah_actions a.ah_button{
    font-size: 16px;
}

.ah_actions a.ah_button {
    background-color: transparent;
    color: #ffffff;
    padding: 0 10px;
    margin: 0;
    margin-top: 7px;
}

.ah_img-people-item small {
    font-size: 12px;
    color: #3a3a3a;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 100%;
}

.ah_picture-item .ah_top-action-item-picture{
    display: block;
    position: absolute;
    height: 40px;
    top: 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.38);
    width: 100%;
}

.ah_picture-item .ah_bottom-action-item-picture{
    display: block;
    opacity: 0;
    position: absolute;
    background-color: rgba(35, 35, 35, 0.51);
    height: 60px;
    width: 100%;
    bottom:0;
}

.ah_picture-item .ah_top-action-item-picture .ah_title-picture{
    color: #ffffff;
    font-size: 17px;
    padding-left: 17px;
    padding-top: 7px;
    display: inline-block;
}

.ah_picture-item .ah_top-action-item-picture .ah_like-picture{
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
    color: #ffffff;
    font-size: 25px;
    margin-top: 0;
    margin-right: 9px;
    cursor: pointer;
}

.ah_picture-item .ah_bottom-action-item-picture .ah_avatar-author-picture{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    box-shadow: 0px 0px 3px 1px #232323;
    margin-top: 15px;
    margin-left: 15px;
}

.ah_picture-item .ah_bottom-action-item-picture .ah_name-author-picture{
    color: #ffffff;
    font-size: 13px;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 5px;
}

.ah_picture-item:hover .ah_action-item-picture{
    opacity: 1;
}
