.ah_header-inner{
    height: 100%;
}

.ah_brand{
    height: 100%;
    text-align:center;
}

.ah_brand h1{
    font-size: 35px;
    margin: 0;
    font-weight: 400;
    font-family:"Oswald";
}

.ah_brand a{
    color:#ffffff;
}

.ah_main-menu, .ah_account-menu{
    height:100%;
    font-weight: 100;
    font-family: "Ubuntu Condensed";
}

.ah_main-menu{
    text-align: center;
}

.ah_account-menu{
    text-align: right;
}

.ah_main-menu ul, .ah_account-menu ul {
    list-style-type: none;
    color: #ffffff;
    margin: 0;
    height: 100%;
    display: inline-block;
}

.ah_main-menu li, .ah_account-menu li{
   display: inline-block;
}

.ah_main-menu a, .ah_account-menu a {
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    display: block;
    padding: 7px 0;
    margin: 0 7px;
}

.ah_main-menu a.ah_modal-button-header {
    background-color: #147D6E;
    padding: 3px 21px 6px;
    margin: 0 40px;
    border-radius: 7px;
}

.ah_main-menu a.ah_modal-button-header:hover{
    text-decoration: none;
}

.ah_avatar-header{
    display: inline-block;
}

.ah_avatar-header img {
    width: 36px;
    height: 36px;
}