.ah_header-inner{
    height: 100%;
}

.ah_brand{
    height: 100%;
    text-align:center;
}

.ah_brand h1{
    font-size: 35px;
    margin: 0;
    font-weight: 400;
    font-family:"Oswald";
}

.ah_brand a{
    color:#ffffff;
}

.ah_main-menu{
    height:100%;
    text-align: right;
    font-weight: 100;
    font-family: "Ubuntu Condensed";
}

.ah_simple-search{
    display: inline-block;
}

.ah_simple-search input[type=text]{
    height: 28px;
    margin: 0;
    padding-left: 20px;
    margin-top: 11px;
}

.ah_inner-main-menu {
    list-style-type: none;
    color: #ffffff;
    display: inline-block;
    margin: 0;
    height: 100%;
    margin-left: 40px;
}

.ah_inner-main-menu li{
   display: inline-block;
}

.ah_inner-main-menu a {
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    display: block;
    padding: 7px 0;
    margin: 0 7px;
}

.ah_inner-main-menu a.ah_modal-button-header {
    background-color: #147D6E;
    padding: 3px 21px 6px;
    margin: 0px 40px;
    border-radius: 7px;
}

.ah_inner-main-menu a.ah_modal-button-header:hover{
    text-decoration: none;
}