@import "header.css";
@import "workspace.css";

*{
    margin:0;
    padding:0;
    border:0;
}

html, body{
    height: 100%;
}

#wrapper{
    min-height: 100%;
}

#lightbox-container{
    display: none;
}

#notifications-container{
    display: none;
}

#header-container{
    position: relative;
    height: 50px;
    background: #1f275f;
}

#workspace-container{
    position: relative;
}

#footer-container{
    position: relative;
}