.ah_base-modal-container {
    width: 70%;
    margin: 0 auto;
    display: block;
    background: #ffffff;
    margin-top: 10%;
}

.ah_close {
    background: #20649E;
    text-align: right;
    padding: 5px 20px;
}

.ah_close a{
    color:#ffffff;
}

.ah_inner-show-picture {
    min-height: 400px;
}

.ah_inner-show-picture h3 {
    font-family: Oswald;
    margin-left: 15px;
    padding: 10px 0px;
    font-size: 30px;
    color: #444444;
}

.ah_put-in-basket a{
    background-color: #147D6E;
    border-radius: 7px;
    color: #ffffff;
    padding: 10px 20px;
}
.ah_actions-item > div{
    margin-bottom: 10px;
}

.ah_actions-item a{
    font-family: "Ubuntu Condensed";
    font-size: 20px;
}

