<div class="ah_header-inner clearfix">
    <div class="small-2 columns ah_brand">
        <h1><a href="#dashboard">ArtHub</a></h1>
    </div>
    <div class="small-7 columns ah_main-menu">
        <ul>
            <li><a href="#articles"><i class="fa fa-newspaper-o" aria-hidden="true"></i>articles</a></li>
            <li><a href="#gallery"><i class="fa fa-picture-o" aria-hidden="true"></i>gallery</a></li>
            <li><a href="#people"><i class="fa fa-users" aria-hidden="true"></i>people</a></li>
            {{#config.startProperties.token}}
            <li><a href="javascript:void(0);" class="ah_modal-button-header" on-click="load"><i class="fa fa-download" aria-hidden="true"></i>Load picture</a></li>
            {{/config.startProperties.token}}
            <li><a href="javascript:void(0)" on-click="basket"><i class="fa fa-shopping-basket" aria-hidden="true"></i>Basket</a></li>
        </ul>
    </div>
    <div class="small-3 columns ah_account-menu">
        <ul>
            {{#config.startProperties.token}}
            <li>
                <a href="#{{currentUser.id}}">
                    <span class="ah_avatar-header"><img src="{{currentUser.avatar}}"/></span>
                    {{currentUser.firstName}} {{currentUser.lastName}}</a></li>
            <li><a href="javascript:void(0);" on-click="logout">Exit</a></li>
            {{else}}
            <li><a href="#auth">Log in</a>
            {{/config.startProperties.token}}
        </ul>
    </div>
</div>